# Windows image file caches
Thumbs.db
ehthumbs.db

#Visual Studio Files
*.pyproj
*.suo
*.sln
*.user
/@Visual Studio Files

# Folder config file
Desktop.ini


# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


